.header{
    color: orange !important;
    background: transparent !important;
  }
  
  .custom-accordion {
    color: #FF5035 !important;
    background: black !important;
  }

  .no-bullets {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  .backgtransparent{
    background-color: transparent;
  }

  .products{
    background-color: transparent;
  }

  .products:hover{
    cursor: pointer;
    border-radius: 10px;
    background-color: #2C3439;
  }

  .productstxt{
    background-color: #2C3439;
    color: #CED9BF;
  }

  .productstxt:hover{
    color: #FF5035;
  }

  .hover {
    transform: scale(1.05);
    transition: transform 0.3s;
}

.hover-text {
    box-shadow: 10px 10px 5px #2c343960;
}