.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.prime {
  color: #CED9BF !important;
}

.backgprime {
  background-color: #CED9BF !important;
}

.backgblue {
  background-color: #2C3439 !important;
}

.backgaccent{
  background-color: #FF5035;
}

.blue {
  color: #2C3439 !important;
}

.accent {
  color: #FF5035 !important;
}

.white {
  color: white !important;
}

.btn-accent{
  background-color: #FF5035 !important; 
  color: #FFFF !important;
  border-radius: 0px !important;
  box-shadow: 0.20em 0.2em 0.50em #171b1e;
  font-size: 1.50rem !important;
}

.btn-accent:hover{
  box-shadow: 0.25em 0.3em 0.50em rgb(0, 0, 0);
}

.btn-add{
  background-color: #FF5035 !important; 
  color: #FFFF !important;
  border-radius: 0px !important;
  box-shadow: 0.20em 0.2em 0.50em #171b1e;
  padding: 5px !important;
  font-family: 'Roboto', sans-serif !important;
  font-weight: bold !important;
}

.btn-add:hover{
  box-shadow: 0.25em 0.3em 0.50em rgb(0, 0, 0);
}

.linkaccent{
  color: #FF5035 !important;
  text-decoration: none !important;
  font-size: 22px !important;
}

.linkaccent:hover{
  text-decoration: underline !important;
  font-size-adjust: 27px;
}

.roboto{
  font-family: 'Roboto', sans-serif !important;
  font-weight: bold !important;
}

.condensed{
  font-family: 'Roboto Condensed', sans-serif !important;
  font-weight: light !important;
}

.slidertext{
  font-size: 33px;
}

.right{
  float: right;
}

.carousel-control-next, .carousel-control-prev{
  width: 10% !important;
}

.casio{
  background-image: url(../src/images/retrocasio.jpg);
  background-repeat: none;
  background-size: cover;
}

.Row1{
  width: auto !important;
}

.padr{
  margin-right: 0px !important;
  padding-right: 0px !important;
}

.padl{
  margin-left: 0px !important;
  padding-left: 0px !important;
}

.accordion-clear{
  background-color: transparent;
}

.no-bullets {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/* @media (max-width: 60px){
  .slideimage{
    width: auto;
    height: auto;
  }
} */